<% if @apply.errors.any? %>
  <% @apply.errors.full_messages.each do |message|%>
    <p><%= message %></p>
  <% end %>  
<% end %>

<%= form_with model: apply do |form| %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
