<h3><%= I18n.t('applies') %></h3>

<% if @applies.any? %>
  <% @applies.each do |apply| %>
     <%= render apply %>
  <% end %>  
<% else %>  
  <p><%= I18n.t('no_applies') %></p>
<% end %>

<%= paginate @applies %>

