<h3>Applies to All Jobs </h3>

<% if headhunter_signed_in? %>
  <% Apply.all.each do |apply| %>
    <p>
    <b>Apply ID:</b> <%= link_to apply.id, apply %><br>
    <b>Job Opening Title:</b> <%= apply.job.title %><br>
    <b>User E-mail:</b> <%= apply.user_email %>
    </p> 
  <% end %>
<% end %>
