<div>
  <p><%= I18n.t('apply_to') %> <%= link_to @apply.job.title, @apply.job %></p>
</div>

<div>
  <p>
    <% if headhunter_signed_in? %>
      <%= link_to I18n.t('star_apply'), stars_path(apply_id: @apply.id, headhunter_id: current_headhunter.id), method: :post %>
    <% end %>
  </p>
</div>

<div>
  <%= button_to I18n.t('delete'), apply_path(@apply),
                                    method: :delete,
                                    data: { confirm: I18n.t('sure') } %>
</div>

