<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Application Confirmed</h1>
    <p>Hi <%= @user.email %>,</p>
    <p>Your application for <strong><%= @job.title %></strong> has been received.</p>
    <p>We will keep you updated on the status of your application.</p>
    <p>Thanks for using Alljobs!</p>
  </body>
</html>
