<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Alljobs, <%= @user.email %>!</h1>
    <p>Your account has been created successfully.</p>
    <p>You can now browse jobs and apply for positions that match your profile.</p>
    <p>Thanks for joining Alljobs!</p>
  </body>
</html>
