<b><%= I18n.t('your_comments') if headhunter_signed_in? %></b>
<% @comments.each do |comment| %>
  <% if comment.headhunter_id == current_headhunter.id %>    
    <div>
      <p><%= I18n.localize(comment.datetime, format: :short) %></p>
      <p><%= comment.body %></p>
      <p><%= render partial: "layouts/headhunter_edit_delete_instance", locals: {what_to_edit_delete: comment }%></p>
    </div>
  <% end %>
<% end %> 