<% if headhunter_signed_in? %>
    <% if @job.applies.any? %> 
      <h4>All applies to this job</h4>
      <% @job.applies.each do |apply| %>
        <%= render apply %> 
      <% end %>        
      <%= I18n.t('no_applies') if @job.applies.empty? %>
    <% end %>   
<% end %>  
