<h3>Openings</h3>

<% if headhunter_signed_in? || user_signed_in? %>
  <% if @jobs.any? %>  
    <% @jobs.each do |job| %>
      <%= render job %>       
    <% end %>
  <% else %>
    <p>There are not any job opening published.</p>
  <% end %>  
<% end %>
<%= paginate @jobs %>
