<h3>Openings</h3>

<% if headhunter_signed_in? || user_signed_in? %>
  <% @jobs.each do |job| %>
    <p>
      <b><%= link_to job.title, job %></b> -
      Deadline: <%= job.date %>
      <br>
    </p>
  <% end %>
<% end %>
<%= paginate @jobs %>

<%= link_to "Return to Home", root_path %>