<h3>All results for <%= @word %></h3>

<% if @jobs.any? %>
    <p><%= @jobs.count %> jobs found.</p>
    <% @jobs.each do |job|  %>
      <%= render job %>
    <% end %>
  <% else %> 
    <p>No jobs openings found.</p> 
  <% end %>
