<h3>All results for <%= @word %></h3>

<% if @jobs.any? %>
    <p><%= @jobs.count %> jobs found.</p>
    <% @jobs.each do |j|  %>
      <dt>Code</dt>
      <dd><%= j.code %></dd>
      <dt>Title</dt>
      <dd><%= j.title %></dd>
    <% end %>
  <% else %> 
    <p>No jobs openings found.</p> 
  <% end %>
