
<% if star.headhunter_id == current_headhunter.id %>
  <p><%= Apply.model_name.human %>: <%= link_to star.apply_id, apply_path(star.apply_id) %></p>
  <%= button_to I18n.t('delete'), star_path(star),
                              method: :delete,
                              data: { confirm: I18n.t('sure') } %>
<% else %>
  <p><%= I18n.t('no_stars') %></p>
<% end %>
