<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Alljobs, <%= @profile.name %></h1>
    <p>
      You have successfully <%= @action %>.<br>
    </p>
    <p>
      To continue in Alljobs, just use this link: <%= @url %>.
    </p>
    <p>Thanks for using Alljobs and have a great day!</p>
  </body>
</html>
