<h3>Welcome!</h3>

<% unless headhunter_signed_in? || user_signed_in? %>
  <p>
    Choose your login option or create your User/Headhunter.
  </p>
<% else %>
  <p>
    Choose an option above.
  </p>
<% end %>