<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Alljobs, <%= @headhunter.email %>!</h1>
    <p>Your recruiter account has been created successfully.</p>
    <p>You can now post jobs, review applications, and find the best candidates.</p>
    <p>Thanks for joining Alljobs!</p>
  </body>
</html>
