<% if headhunter_signed_in? %>
  <div>
    <%= link_to I18n.t('edit'), edit_polymorphic_path(what_to_edit_delete) %>
    <%= button_to I18n.t('delete'), polymorphic_path(what_to_edit_delete),
                              method: :delete,
                              data: { confirm: I18n.t('sure') } %>
  </div>
<% end %>